<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>App Doctor</title>
  </head>
  <body>
    <h1>Sr(a) <%= name %> sua consulta médica foi agendada</h1>
    <h3>Agendamento:</h3>
    <ul>
        <li>Data: <%= data %></li>
        <li>Hora: <%= hora %></li>
        <li>Medico responsável: <%= nameMedico %></li>
    </ul>
    <h3>Seus dados:</h3>
    <ul>
        <li>Nome: <%= name %></li>
        <li>Email: <%= email %></li>
        <li>CPF: <%= cpf %></li>
        <li>Data de nascimento: <%= data_nascimento %></li>
        <li>Endereço: <%= endereco %></li>
        <li>Numero: <%= numero %></li>
        <li>Estado: <%= estado %></li>
        <li>Cidade: <%= cidade %></li>
        <li>CEP: <%= cep %></li>
    </ul>
    <p>Clique para acessar: <a href="<%- url %>">APP DOCTOR</a></p>
  </body>
</html>
