<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>App Doctor</title>
  </head>
  <body>
    <h1>Receituário</h1>
    <h3>Informações:</h3>
    <ul>
        <li>Nome: <%= namePaciente %></li>
        <li>Email: <%= emailPaciente %></li>
        <li>CPF: <%= cpf %></li>
        <li>Data de nascimento: <%= dataNascimento %></li>
        <li>Endereco: <%= endereco %></li>
        <li>Numero: <%= numero %></li>
        <li>Data do agendamento: <%= data %></li>
        <li>Hora atendido: <%= hora %></li>
        <li>Médico responsável: <%= nameMedico %></li>
        <li>E-mail de contato: <%= emailMedico %></li>
        <li>CRM: <%= crm %></li>
        <li>Descricao: <%= descricao %></li>
    </ul>
    <p>Assinatura: <img src="<%- assinatura %>" alt="assinatura" width="150px" height="150px"></p>
  </body>
</html>
