<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receituário</title>
</head>
<body>
    <h1>Receituario</h1>
    <h2>Nome do paciente</h2>
    <ul>
        <li>Nome:<%= namePaciente %></li>
        <li>CPF:<%= cpf %></li>
        <li>Dia da consulta:<%= data %></li>
        <li>Nome do médico:<%= nameMedico %></li>
        <li>CRM:<%= crm %></li>
        <li>Descricao:<%= descricao %></li>
        <img src="<%- assinatura %>" alt="assinatura" width="150px" height="100px">
    </ul>
</body>
</html>
