<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>Receituário</title>
  </head>
  <style>
    body {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      background-color: #ffffff;
      font: 12pt "Arial";
    }

    * {
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      font-size: 6px;
    }

    /* .page {
    width: 210mm;
    min-height: 297mm;
    margin: 10mm auto;
    border: 1px #D3D3D3 solid;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
 
@page {
    size: A4;
    margin: 0;
}

@media print {
    html, body {
        width: 210mm;
        height: 297mm;         
}
    .page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        page-break-after: always;
    }
}  */

    div.hospital-box {
      text-align: left !important;
      justify-content: center;
      background-color: rgb(7, 29, 156);
      margin-top: 0;
      padding: 0;
      height: 80px;
    }

    /* .titulo-hospital {
      font-size: 18px !important;
      color: white;
      margin-left: 10px;
      margin-top: 30px;
    } */

    div.titulo {
      text-align: center;
      padding-top: 50px;
      padding-bottom: 10px;
    }

    div.receituario {
      text-align: center;
      justify-content: center;
      border: solid 1px;
      margin-left: 300px;
    }

    h3.titulo_receituario {
      font-size: 16px !important;
    }

    img.logo-receituario {
      width: 30px;
      height: 30px;
      margin-top: 25px;
      margin-left: 10px;
    }

    /* a partir daqui é div com dados do paciente */

    /* li geral */

    li {
      list-style: none;
    }

    /* div geral */
    div.dados-paciente {
      border: solid 1px;
      margin: 15px;
      padding-top: 0px;
      border-radius: 5px;
      padding-bottom: 20px;
    }

    /* titulo dados paciente */
    div.titulo-dados {
      text-align: left;
      margin-left: 10px;
      margin-top: 0;
      margin-bottom: 1px;
      padding: 0;
    }

    .titulo-dados-paciente {
      font-size: 15px !important;
    }

    /* NOME, CPF e Data de Nascimento -------------------------------------------------------*/
    div.div-nome-cpf-dataNascimento {
      width: 100%;
      display: flex;
      margin-top: 10px;
      margin-left: 10px;
    }

    /* nome */
    p.div-nome {
      display: flex;
      width: 20%;
      margin-right: 20px;
    }
    div.div-li-nome-paciente {
      width: 100%;
      margin-left: 5px;
    }
    li.li-nome-paciente {
      width: 100%;
    }

    /* cpf */
    p.div-cpf {
      display: flex;
      width: 10%;
      margin-right: 20px;
    }
    div.div-li-cpf-paciente {
      width: 100%;
      margin-left: 5px !important;
    }

    li.li-cpf-paciente {
      width: 100% !important;
    }

    /* Data de Nascimento */
    div.div-dataNascimento {
      display: flex;
      width: 20%;
      margin-right: 20px;
    }

    div.div-li-dataNascimento-paciente {
      width: 10%;
      margin-left: 5px !important;
    }

    li.li-dataNascimento-paciente {
      width: 100% !important;
    }

    /* Endereço e Numero ---------------------------------------------------------- */

    /* div geral */
    div.div-endereco-numero {
      display: flex;
      width: 100%;
      margin-top: 10px;
      margin-left: 10px;
    }
    /* endereço */
    div.div-endereco {
      display: flex;
      width: 40%;
      margin-right: 20px;
    }

    div.div-li-endereco-paciente {
      width: 100%;
      margin-left: 5px !important;
    }

    li.li-endereco-paciente {
      width: 100%;
    }

    /* numero */
    div.div-numero {
      display: flex;
      width: 30%;
      margin-right: 20px;
    }

    div.div-li-numero-paciente {
      width: 100%;
      margin-left: 5px !important;
    }

    li.li-numero-paciente {
      width: 100%;
    }

    /* -----------------DIV PRESCRIÇÃO MÉDICA ------------------------------------------ */

    /* div geral */
    div.prescricao {
      border: solid 1px;
      margin: 15px;
      padding-top: 10px;
      padding-bottom: 20px;
      border-radius: 5px;
      height: 100px;
    }

    /* titulo dados paciente */
    div.titulo-prescricao {
      text-align: left;
      margin-left: 10px;
      margin-top: 0;
      margin-bottom: 1px;
      padding: 0;
    }

    .titulo-prescricao-paciente {
      font-size: 15px !important;
    }

    li.descricao {
      margin-left: 10px;
      margin-right: 10px;
    }

    /* ASSINATURA MÉDICO */

    div.div-data-assiantura {
      display: flex;
      width: 100%;
      margin-top: 20%;
      margin-left: 20px;
    }

    div.div-data-receituario {
      display: flex;
      width: 65%;
    }

    div.div-li-data-receituario {
      width: 100%;
      margin-left: 5px !important;
    }

    div.div-assinatura-medico {
      text-align: center;
      border: solid 1px black;
      padding: 10px;
    }

    /* FOOTER ---------------------*/

    /* footer{
    text-align: left !important;
    justify-content: center;
    background-color: rgb(7, 29, 156);
    padding: 0;
    height: 60px;
    margin-top: 80%;
} */
    /* FOOTER DO STACK */
    footer {
      background-color: rgb(7, 29, 156);
      width: 100%;
      height: 60px;
      position: absolute;
      bottom: 0;
      left: 0;
    }

    div.div-footer {
      text-align: center;
      justify-content: center;
      color: white;
    }
  </style>
  <body>
    <div class="page">
      <div class="hospital-box" style="background-color: rgb(7, 29, 156)">
        <header style="display: flex">
          <img class="logo-receituario" src="img/reelogo-appdoctor2.png" />
          <h2
            class="titulo-hospital"
            style="
              font-size: 18px !important;
              color: white;
              margin-left: 10px;
              margin-top: 30px;
            "
          >
            Hospital App Doctor
          </h2>
        </header>
      </div>
      <div class="titulo">
        <h3 class="titulo_receituario">Receituário Médico</h3>
      </div>
      <div class="dados-paciente">
        <div class="titulo-dados">
          <h4 class="titulo-dados-paciente">Dados Paciente</h4>
        </div>
        <div class="div-nome-cpf-dataNascimento">
          <p class="div-nome">
              <label><strong>Nome:</strong></label>
            <div class="div-li-nome-paciente">
              <li class="li-nome-paciente"><%= namePaciente %></li>
            </div>
        </p>
          <p class="div-cpf">
         
              <label><strong>CPF:</strong></label>
          
            <div class="div-li-cpf-paciente">
              <li class="div-li-cpf-pacientee"><%= cpf %></li>
            </div>
        </p>
          <div class="div-dataNascimento">
            <div>
              <label><strong>Data de Nascimento:</strong></label>
            </div>
            <div class="div-li-dataNascimento-paciente">
              <li class="li-dataNascimento-paciente"><%= dataNascimento %></li>
            </div>
          </div>
        </div>
        <div class="div-endereco-numero">
          <div class="div-endereco">
            <div>
              <label><strong>Endereço:</strong></label>
            </div>
            <div class="div-li-endereco-paciente">
              <li class="li-endereco-paciente"><%= endereco %></li>
            </div>
          </div>
          <div class="div-numero">
            <div>
              <label><strong>Número:</strong></label>
            </div>
            <div class="div-li-numero-paciente">
              <li class="li-numero-paciente"><%= numero %></li>
            </div>
          </div>
        </div>
      </div>
      <div class="prescricao">
        <div class="titulo-prescricao">
          <h4 class="titulo-prescricao-paciente">Prescrição Médica</h4>
        </div>
        <li class="descricao"><%= descricao %></li>
      </div>
      <div class="div-data-assiantura">
        <div class="div-data-receituario">
          <div>
            <label><strong>Data:</strong></label>
          </div>
          <div class="div-li-data-receituario">
            <li class="li-data-receituario"><%= data %></li>
          </div>
        </div>
        <div class="div-assinatura-medico">
          <div>
            <li><%= nameMedico %></li>
            <li>CRM: <%= crm %></li>
            <img
              src="<%- assinatura %>"
              alt="assinatura"
              width="150px"
              height="100px"
            />
          </div>
        </div>
      </div>
      <footer>
        <div class="div-footer">
          <p>
            Hospital App Doctor - Rua App Doctor, 00 - Telefone: (11) 1234-5678
          </p>
          <P>Cep: 12345-678-São Paulo - SP</P>
        </div>
      </footer>
    </div>
  </body>
</html>
